.right_main_div {
    display: flex;
}

.wvcwev3v {
    background: #dee2e6;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}